flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c072f7eb538cadd7",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 80,
        "wires": []
    },
    {
        "id": "ab2db2ea3cac6905",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 380,
        "wires": []
    },
    {
        "id": "120f697d5711dcaf",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "esp32/input",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1070,
        "y": 460,
        "wires": []
    },
    {
        "id": "a2d2d0f115b531ac",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "esp32/temperature",
        "qos": "2",
        "broker": "10e78a89.5b4fd5",
        "inputs": 0,
        "x": 704,
        "y": 267,
        "wires": [
            [
                "0e2e09131dde0f08",
                "ab2db2ea3cac6905"
            ]
        ]
    },
    {
        "id": "0e2e09131dde0f08",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 901,
        "y": 234,
        "wires": []
    },
    {
        "id": "dd6a779bcaea88e3",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "esp32/humidity",
        "qos": "2",
        "broker": "10e78a89.5b4fd5",
        "inputs": 0,
        "x": 693,
        "y": 151,
        "wires": [
            [
                "683ff973e3ac1466",
                "c072f7eb538cadd7"
            ]
        ]
    },
    {
        "id": "683ff973e3ac1466",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 118,
        "wires": []
    },
    {
        "id": "254ff675f1e37788",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "on",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 640,
        "y": 460,
        "wires": [
            [
                "7791cda929dd2a1d",
                "63bae181fd09f5a7"
            ]
        ]
    },
    {
        "id": "7791cda929dd2a1d",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 840,
        "y": 520,
        "wires": []
    },
    {
        "id": "457a1ee62bf5aa27",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 660,
        "y": 760,
        "wires": [
            [
                "bed67d33379eef9a"
            ]
        ]
    },
    {
        "id": "bed67d33379eef9a",
        "type": "template",
        "z": "f6f2187d.f17ca8",
        "name": "create Response",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\" style=\"width:100%; height:100%\">\n <head>\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"/>\n </head>\n <body>\n  <h1>Hello, World!</h1>\n </body>\n</html>",
        "output": "str",
        "x": 870,
        "y": 760,
        "wires": [
            [
                "ec2fd6df0b4618ba"
            ]
        ]
    },
    {
        "id": "ec2fd6df0b4618ba",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "send Response",
        "statusCode": "",
        "headers": {},
        "x": 1080,
        "y": 760,
        "wires": []
    },
    {
        "id": "63bae181fd09f5a7",
        "type": "template",
        "z": "f6f2187d.f17ca8",
        "name": "create Response",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\"on\"",
        "output": "json",
        "x": 870,
        "y": 460,
        "wires": [
            [
                "120f697d5711dcaf"
            ]
        ]
    },
    {
        "id": "2fa5482de17db7da",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "esp32/input",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1070,
        "y": 580,
        "wires": []
    },
    {
        "id": "db99b94093c08b06",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "off",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 630,
        "y": 580,
        "wires": [
            [
                "35ff39a74c602a14",
                "b26ff0ae17c5b470"
            ]
        ]
    },
    {
        "id": "35ff39a74c602a14",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 840,
        "y": 640,
        "wires": []
    },
    {
        "id": "b26ff0ae17c5b470",
        "type": "template",
        "z": "f6f2187d.f17ca8",
        "name": "create Response",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\"off\"",
        "output": "json",
        "x": 870,
        "y": 580,
        "wires": [
            [
                "2fa5482de17db7da"
            ]
        ]
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
